<%- include("../includes/head", {pageTitle : "mange products"})%>
<link rel="stylesheet" href="/style/header-web.css">
<link rel="stylesheet" href="/style/product-manage.css">

<script src="/scripts/imageSumnail.js" defer></script>
</head>

<body>
    <%- include("../includes/header")%>
    <section id="overall">

        <section id="adding-part">
            <!-- 파일업로드를 포함하는 FORM에서, CSRF 토큰을 제출하는 방법 [쿼리 매개변수를 이용 ]-->
            <form action="/admin/products?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data" >

                <div id="addimg-image-part">
                    <div id="image">
                        <label for="product-image"> Product Image</label>
                        <img class="product-image" id="product-image" name="productImage" src="/productImage/main.jpg">
                    </div>
                    <div>
                        <label for="product-add-image"> adding Image</label>
                        <input type="file"id="product-add-image" name="productAddImage" accept="image/*">
                    </div>
                </div>
    
                <div class="sub" id="product-ess">       
                    <label for="product-name">Product Name</label>
                    <input type="text" id="product-name" name="productName" required>

                    <label for="product-price">Product Price</label>
                    <input type="text" id="product-price" name="productPrice"  min="1", step="0.1" required>
                </div>
    
                <div class="sub" id="product-sub">

                    <label for="product-summary"> Product summary</label>
                    <input type="text" id="product-summary" name="productSummary">
                    
                    <label for="product-detail">Product Detail</label>
                    <textarea id="product-detail" name="productDetail" ></textarea>

                    <label for="product-warning">Product Warning</label>
                    <textarea id="product-warining" name="productWarning" ></textarea>

                </div>
                <div> 
                    <button class="btn" type="reset"> RESET</button>
                    <button class="btn"> ADD </button>
                </div>
                
            </form>
        </section>

    <%- include("../includes/footer")%>
</body>
</html>