<ul id="header">
    <li> <a href="/"> home </a> </li>
    <li> <a href="/signup"> signup </a></li>
    <li> <a href="/login"> login </a></li>
    <li> <a href="/product"> product </a></li>
    <li> <a href="/logout"> logout </a></li>
</ul>