<header > 
    <div id="logo"> <a href="/home"> logo</a> </div>

    <nav id="web-view">
        <%-include("header-web")%>
    </nav>

    <div id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
<aisde id="mobile-view">
    <%-include("header-web")%>
</aisde>