.img{
    width: 10rem;
    height: 10rem;
}

#header-parts{
    margin: 2rem;
    width: 100%;
}

h1{
    font-weight: 900;
}
#addBtn{
    text-decoration: none;
    font-family: inherit;
    padding: 0.25rem;
    font-size: 1.75rem;
    margin-left: 2rem;
}

#main-parts{
    margin: 2rem;
    margin-top: 5rem;
    overflow: scroll;
}

#product-section{
    width: 70%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    
}

#product-section li{
    width: 12rem;
    height: 20rem;
}

.imageANDname{
    text-align: center;

}
.imageANDname p{
    margin: 0.5rem;
    text-align: center;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    color: var(--base-background-color);
    border: 2px rgb(165, 118, 52) solid;
    border-radius: var(--border-radius-2);
}
.Button{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
}

.Button a{
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
}

#page-nation-section{
    width: 70%;
    margin: 0 auto;
}

#page-nation-list{
    padding: 0;
    width: 70%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagenumber{
    margin: 1rem;
}


@media (max-width:50rem){
    #main-parts{
        width: 100%;
        margin: 0;
    }
    #header-parts{
        width: 100%;
        margin: 0.5rem;
    }
    #product-section{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        
    }
}
