#overall{
    display: grid;
    height: 100%;
    min-height: 45rem;
    max-height: 60rem;
    max-width: 60rem;
    margin: 0 auto;
    background-color: rgba(236, 169, 74, 0.377);
    padding: 2rem;
    border-radius: var(--border-radius-3);
    font-size : 1rem;
    font-weight: 800;
    color: wheat;
}

textarea, input{
    width: 70%;
}
textarea{
    height: 4rem;
    margin-bottom: 1rem;
}
#adding-part{
    display: grid;
    text-align: center;
    align-items: center;
    
}

.sub{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#product-image{
    width: 12rem;
    height: 10rem;
    box-shadow: var(--shadow-base);
}

#addimg-image-part{
    margin: 0 auto !important; 
    padding: 1rem 0;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: var(--space-3);
    background-color: var(--base-background-color);
    border-radius: var(--border-radius-2);
}

#product-ess{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(236, 169, 74, 0.377);
    padding: 1.5rem 0;
    color: var(--base-background-color);;
}
#product-sub{
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 0;
    background-color: var(--base-background-color);
}

#addimg-image-part #image{
    display: grid;
    justify-content: center;
}
#summary-part{
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow-base);
    overflow-y : scroll;
}
#summary-part ol{
    padding: 0;
    list-style: none;
}
#summary-part li{
    border: 1px solid;
}
#summary-part p{
    margin: 0;
}
#summary-part img{ 
    width: 12rem;
    height: 10rem;
    box-shadow: var(--shadow-base);
}
.btn{
    margin: 1rem;
}