<%- include("../../includes/head", {pageTitle : "well come!!"})%>
<link rel="stylesheet" href="/style/welcome.css">
<meta name="description" content="well come my demo shopping mall site!">
</head>


<body>
    <%- include("../../includes/header")%>

    <h1>well come!</h1>

    <h2> I make some simple shop</h2>

    <p> you can see products detail, add to cart, and order!</p>
    <p> <strong> of course, your order is not really required to pay</strong> </p>

    <p> if popup the pay page, <strong>payment card number</strong> is <strong>4242 4242 4242 4242 </strong> </p>
    
    <p> your order is delivered and payment is success, i can change shipping status. </p>

    <p> please, enjoy your shopping </p>

    <h2> oh you can signup, even with weird INFO</h2>

    <h1 id="goHome"> go to shopping mall <a href="/?pagenumber=1" class="btn"> HOMEPAGE</a></h1>


    <%- include("../../includes/footer")%>
</body>
</html>