<%- include("../../includes/head", {pageTitle : "well come!!"})%>
</head>


<body>
    <%- include("../../includes/header")%>
    <p>well come!</p>

    <%- include("../../includes/footer")%>
</body>
</html>