<%- include("../includes/head", {pageTitle : "login"})%>
<link rel="stylesheet" href="/style/login.css">
</head>


<body>
    <%- include("../includes/header")%>
    <p> home</p>

    <%- include("../includes/footer")%>
</body>
</html>