<%- include("../includes/head", {pageTitle : "error!"})%>
</head>


<body>
    <%- include("../includes/header")%>
    <h1> 401 </h1>
    <p> you are not authenticated</p>

    <%- include("../includes/footer")%>
</body>
</html>