<%- include("../../includes/head", {pageTitle : "error!"})%>
</head>


<body>
    <%- include("../../includes/header")%>
    <p> you got a error!</p>

    <%- include("../../includes/footer")%>
</body>
</html>