<%- include("../includes/head", {pageTitle : "500 error!"})%>
<link src="stylesheet" href="/style/error.css">
</head>


<body>
    <%- include("../includes/header")%>
    <h1> 500 ERROR! </h1>
    <p> please back to home.</p>


    <%- include("../includes/footer")%>
</body>
</html>