<%- include("../includes/head", {pageTitle : "error!"})%>
</head>


<body>
    <%- include("../includes/header")%>
    <h1> YOU HAVE TO LOGIN TO USE CART </h1>
    <a href="/login"> login </a>

    <%- include("../includes/footer")%>
</body>
</html>