<%- include("../includes/head", {pageTitle : "error!"})%>
<link src="stylesheet" href="/style/error.css">
</head>


<body>
    <%- include("../includes/header")%>
    <h1> YOU HAVE TO LOGIN TO USE CART </h1>
    <p><a href="/login"> login </a></p>

    <%- include("../includes/footer")%>
</body>
</html>