<%- include("../includes/head", {pageTitle : "error!"})%>
<link src="stylesheet" href="/style/error.css">
</head>


<body>
    <%- include("../includes/header")%>
    <h1> not found!</h1>

    <%- include("../includes/footer")%>
</body>
</html>