<%- include("../../includes/head", {pageTitle : "login"})%>
</head>


<body>
    <%- include("../../includes/header")%>
    <p> login</p>
    

    <%- include("../../includes/footer")%>
</body>
</html>