<%- include("../../includes/head", {pageTitle : "Product Detail"})%>
<link rel="stylesheet" href="/style/client-cart.css">
</head>

<body>

    <%- include("../../includes/header")%>
    <h1> ORDER </h1>

    <%- include("../../includes/footer")%>
</body>
</html>