<%- include("../../includes/head", {pageTitle : "Product Detail"})%>
<link rel="stylesheet" href="/style/client-cart.css">
</head>

<body>

    <%- include("../../includes/header")%>
    <h1> ORDER </h1>

    카트 그대로 가져와서, 수량 못바꾸게 하고,
    아래 배송지 쫙
    확인버튼 쫙
    
    <%- include("../../includes/footer")%>
</body>
</html>