<%- include("../includes/head", {pageTitle : "error!"})%>
</head>


<body>
    <%- include("../includes/header")%>
    <p> Order was Successful!</p>

    <%- include("../includes/footer")%>
</body>
</html>