<%- include("../../includes/head", {pageTitle : "order success"})%>
<link rel="stylesheet" href="/style/payment-complete.css">
</head>


<body>
    <%- include("../../includes/header")%>
    <h1> YOUR ORDER was Successful!</h1>
    <p> please back to home.</p>

    <%- include("../../includes/footer")%>
</body>
</html>