<%- include("../../includes/head", {pageTitle : "order fail!"})%>
</head>


<body>
    <%- include("../../includes/header")%>
    <p> Order is canceled</p>

    <%- include("../../includes/footer")%>
</body>
</html>