<%- include("../../includes/head", {pageTitle : "order fail"})%>
<link rel="stylesheet" href="/style/payment-complete.css">
</head>


<body>
    <%- include("../../includes/header")%>
    <h1> Order is canceled!</h1>
    <p> please back to home.</p>

    <%- include("../../includes/footer")%>
</body>
</html>
    
    