<%- include("../../includes/head", {pageTitle : "order success!"})%>
</head>


<body>
    <%- include("../../includes/header")%>
    <p> Order was Successful!</p>

    <%- include("../../includes/footer")%>
</body>
</html>